.name{
    background-color: black;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
  }
body{ 
    background-color:white;
    text-align: center;
  }
 h3 {
      color: darkgray;
      font-style: oblique;
      padding: 5px;
      margin: 20px;
      border-style: outset;
      border-width:initial;
      display: inline-block;
      background-color:#3F303F;
  }

.personal-img { 
  
} 

