.title {
    background-color: black;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
  }
body { 
    background-color: black;
    text-align: center;
  }
 
.p1 {
  max-width: 50%; 
}

.header {
  background-color: black;
  border: 1px solid blue;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
}

.text-muted { 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  height: 30vh;
  background-color:white;
  
}

.container { 
  background-color:white;
  border: 2px solid yellow;
  color: black;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: flex;
  padding: 70px;
  border: 2px solid purple;
  justify-content: space-between;
  background-color: blue;
  border-style: inherit;
  width: 80%;
  margin-left: 10%;
  margin-top: 0%;
  border-radius: 8px;
  flex-direction: row;
  opacity: 0.9;

}

.container2 img {
  opacity: 0.7;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-style: inherit;
  border: 3px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  
}

.pic1 {
  padding-right: 30px;
  margin-top: -40px;
  margin-bottom: -20px;
}

.pic2 {
  padding-right: 30px;
  margin-top: -40px;
  margin-bottom: -20px;
} 

.pic3 {
  padding-right: 30px;
  margin-top: -40px;
  margin-bottom: -20px;
}

.pic4 {
  margin-top: -40px;
  margin-bottom: -20px;
}

.container3 {
  padding: 80px;
  border: 2px solid yellow;
  background-color:white;
}

.project-title {
  padding: 50px;
  align-items: center;
  justify-content: center;
  border: 2px solid crimson;
  background-color:white;
}

.footer {
  display: flex;
  border: 2px solid orchid;
  align-items: center;
  justify-content: space-between;
  height: min-content;
}

.personal-img {
  padding-top: 5px;
  padding-bottom: 15px;
  display: flex; 
  padding-left: 2%;
  height: min-content;
  
}

.personal-img:hover {
  color: #6D4B11;
}

.personal-img img {
  margin-top: 7px;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  height: 60px;
  width: 40px;
}

.aboutme {
  padding-left: 4%;
  display: flex;
  text-align: left;
  flex-flow: column;
  height: 0;
}

.aboutme h4 {
  text-align: left;
  font-size: 1.2em;
}

.aboutme p {
  font-size: 0.8em;
  font-style: oblique;
}

.container-fluid:hover { 
  opacity: 1;
}